Source: moodle-sdk
Maintainer: Dan Poltawski <dan@moodle.com>
Uploaders: Frédéric Massart <fred@moodle.com>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8)

Package: moodle-sdk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-argparse, python-keyring, python-mysqldb, python-psycopg2, git, apache2, mysql-server, postgresql, php5, php5-cli, php5-curl, php5-mysql, php5-pgsql
Description: Moodle Development Kit
 A collection of tools meant to make Moodle developers' lives easier.
